<h3>Actuellement en <%= @last_phase.phase_type %></h3>

<p>Derniere mesure -  <%= @last_measurement.date.strftime("%d %B") %></p>
        <% if @last_measurement.weight != nil  %>
          poids: <%= @last_measurement.weight %>kg  <%= progress(@last_measurement.weight, @sorted_measurements[ -2 ].weight, -1, @last_phase)%><br>
        <% end %>

        <% if @last_measurement.bras != nil  %>
          biceps: <%= @last_measurement.bras %>cm  <%= progress(@last_measurement.bras, @sorted_measurements[ -2 ].bras, -1, @last_phase) %><br>
        <% end %>

        <% if @last_measurement.poitrine != nil  %>
          poitrine: <%= @last_measurement.poitrine %>cm  <%= progress(@last_measurement.poitrine, @sorted_measurements[ -2 ].poitrine, -1, @last_phase) %><br>
        <% end %>

        <% if @last_measurement.taille != nil  %>
          taille: <%= @last_measurement.taille %>cm  <%= progress(@last_measurement.taille, @sorted_measurements[ -2 ].taille, -1, @last_phase) %><br>
        <% end %>

        <% if @last_measurement.hanches != nil  %>
          hanches: <%= @last_measurement.hanches %>cm  <%= progress(@last_measurement.hanches, @sorted_measurements[ -2 ].hanches, -1, @last_phase) %>
        <% end %>


<ul>
  <% @phases.each do |phase| %>
    <li>
      <%= link_to phase.phase_type, phase_path(phase.id) %> - debut: <%= phase.started_date %>
      <%= link_to 'modifier', edit_phase_path(phase.id) %>
      <%= link_to 'supprimer',
        phase_path(phase.id),
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
      %>
    </li>

    <% if phase.measurements != [] %>
      <% sorted_measurements = phase.measurements.sort { |a, b| b.date <=> a.date } %>
      <ul>
        <% sorted_measurements.each do |m| %>
          <li>
            <%= m.date %> -
            <%= m.weight%>
            <%= link_to 'edit', edit_measurement_path(m) %> -
            <%= link_to 'supprimer', measurement_path(m),
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
            %>
          </li>
        <% end %>
      </ul>
    <% end %>



    <h2>______________________________________________________________</h2>
  <% end %>
</ul>

<%= link_to '+', new_phase_path %>
<%= link_to 'nouvelles mensurations', new_phase_measurement_path(@phases.last) %>
