<h1>Bienvenue sur Suivi Mensurations</h1>

<ul>
  <% @phases.each do |phase| %>
    <li>
      <%= link_to phase.phase_type, phase_path(phase.id) %> - debut: <%= phase.started_date %>
      <%= link_to 'modifier', edit_phase_path(phase.id) %>
      <%= link_to 'supprimer',
        phase_path(phase.id),
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
      %>
    </li>

    <% if phase.measurements != [] %>
      <ul>
        <% phase.measurements.each do |m| %>
          <li>
            <%= m.date %> -
            <%= m.weight %>
            <%= link_to 'edit', edit_measurement_path(m) %> -
            <%= link_to 'supprimer', measurement_path(m),
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
            %>
          </li>
        <% end %>
      </ul>
    <% end %>



    <h2>______________________________________________________________</h2>
  <% end %>
</ul>

<%= link_to '+', new_phase_path %>
<%= link_to 'nouvelles mensurations', new_phase_measurement_path(@phases.last) %>
